@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 219, 234);
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: lightgreen;
    padding: 3px;
    box-shadow: 5px 1px 1px black;
}

nav > a{
    text-decoration: none;
    color: rgb(0, 59, 251);
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

article{
    background-color: lightgrey;
    padding: 5px;
}

article > aside{
    background-color: aquamarine;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p{
    margin: 4px;
}